# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Flutter
.Dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/
*.iml
*.iws
.idea/
.vscode/
.DS_Store

# Android
android/
*.apk
*.aab

# iOS
ios/
Podfile
Podfile.lock
Pods/

# Windows
windows/
*.exe
*.dll

# macOS
macos/

# Linux
linux/

# Web
web/

# Environment variables
.env
.env.local

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Secret files
security_report.txt
